version: '3'

services:
  postgres:
    image: postgres:18.1
    container_name: chat-db
    hostname: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
  app:
    container_name: chat-backend
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - .env